/* Admin */
#menu-posts-ribbon_product.opensub .wp-menu-image, #menu-posts-ribbon_product .wp-menu-open .wp-menu-image {
	background-position: -16px 0px !important;
}
#menu-posts-ribbon_product .wp-menu-image {
	background: url('./ribbon16.png') no-repeat !important;
	background-position: 0px 0px !important;
	width: 16px !important;
	height: 16px !important;
	margin: 6px !important;
}
.icon32-posts-ribbon_product {
	background: url('./ribbon32.png') !important;
	width: 32px;
	height: 32px;
}

/* User */
.ribbon-product {
	display: inline-block;
}
.ribbon-product iframe {
	height: 730px;
}